<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/components/navbar.css">
    <link rel="stylesheet" href="/components/sidebar.css">
    <link rel="stylesheet" href="/components/components.css">
    <title>Installation</title>
</head>
<body>
    <div class="container">
        <nav>
            <div class="left-nav">
                <h1>Minwii Designs</h1>
            </div>
            <ul class="right-nav">
                <li><a href="#">Home</a></li>
                <li><a href="#">Github</a></li>
            </ul>
        </nav>

        <div class="doc-container">
            <div class="side-bar">


                <!-- Components List start -->
                <div class="nested-list">
                    <ul class="list-topic">
                        <li>
                            <a class="active" href="/Components/installation.html">
                                Installation
                            </a>
                        </li>
                        <li>
                            <a href="/Components/Avatar/avatar.html">
                                Avatar
                            </a>
                        </li>
                        <li>
                            <a href="/Components/Alert/alert.html">
                                Alert
                            </a>
                        </li>
                        <li>
                            <a href="/Components/Badge/badge.html">
                                Badge
                            </a>
                        </li>
                        <li>
                            <a href="/Components/Button/button.html">
                                Button
                            </a>
                        </li>
                        <li>
                            <a href="/Components/Card/card.html">
                                Card
                            </a>
                        </li>
                        <li>
                            <a href="/Components/Image Comp/image.html">
                                Image
                            </a>
                        </li>
                        <li>
                            <a href="/Components/Input/input.html">
                                Input
                            </a>
                        </li>
                    </ul>
                </div>
            </div>

            <div class="doc-content">

                
                <div class="divider"></div>

                <div class="content-head">
                    Installation Guide
                </div>

                <div class="content-subtitle intro type-2">
                    In order to use the components in your project, Copy the Link given below and paste it in the &lt;head&gt; tag of your html, above all other style sheets. 
                </div>

                <div class="example-code intro-code">
                    <pre>
                        <code class="html">
                        &lt;link rel="stylesheet" href="link"&gt;
            
                        </code>
                    </pre>
                </div>

                <div class="divider"></div>

                
                <footer>
                    <div class="prev-comp">
    
                    </div>
                    <div class="next-comp">
                        <a href=" ">Avatar</a>
                        <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" aria-hidden="true" role="img" class="iconify iconify--ic" width="1em" height="1em" preserveAspectRatio="xMidYMid meet" viewBox="0 0 24 24"><path d="M10 6L8.59 7.41L13.17 12l-4.58 4.59L10 18l6-6z" fill="currentColor"></path></svg>
                    </div>
                </footer>
            </div>
        </div>
    </div>
</body>
</html>